# ==========================================
# Build & Output Directories
# ==========================================
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================================
# Local Database & Sensitive Configs
# ==========================================
*.db
*.sqlite
upm_bus.db
application-local.properties
**/application-local.properties

# ==========================================
# IDE & Editor Files
# ==========================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Project Notes
HELP.md
*.exe
